---
import {getAllPosts} from '../prismic.js';
import {LandingPage} from '../components/index';

const response = await getAllPosts();

const data = response.results.map(item => {
	return item.data;
});
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<LandingPage client:load data={data}>
		    <a href="/">Home</a>
            <a href="/wip/">What to do</a>
            <a href="/wip/">The digital divide</a>
            <a href="/wip/">Get Involved</a>
            <a href="/wip/">Our network</a>
            <a href="/wip/">Insights</a>		   
		</LandingPage>
	</body>
</html>
