.card-component {
    width: 20%;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;

    & h3 {
        text-align: center;
    }

    & button {
        margin: 15px 0 25px 0;
        border-color: black;
    }
}

.card-component--text {
    text-align: center;
    padding: 0 25px;
}